<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.auth.data.provider.mapper.mapper.MenuInfoMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.auth.data.api.mapper.model.MenuInfo">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="IMG_SRC" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="menuRightMap" type="com.wisdom.auth.data.api.mapper.model.MenuRightInfo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_ID" property="menuId" jdbcType="INTEGER"/>
        <result column="RIGHT_NAME" property="rightName" jdbcType="VARCHAR"/>
        <result column="RIGHT_DESCRIBE" property="rightDescribe" jdbcType="INTEGER"/>
        <result column="KEY" property="key" jdbcType="INTEGER"/>
        <result column="LABEL" property="label" jdbcType="VARCHAR"/>
        <result column="DISABLE" property="disable" jdbcType="TINYINT"/>
    </resultMap>


    <resultMap id="menuMap" type="com.wisdom.auth.data.api.mapper.model.MenuInfo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="IMG_SRC" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="BUTTON" property="button" jdbcType="INTEGER"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <collection column="{ID=ID,USER_ID=USER_ID}" property="children" select="selectMenusByParentIdWithOperating"/>
        <collection column="{MENU_ID=ID,USER_ID=USER_ID}" property="operatings" select="selectOperatingsByMenuId"/>
    </resultMap>

    <resultMap id="menuMapForTree" type="com.wisdom.auth.data.api.mapper.model.MenuInfo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="IMG_SRC" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="BUTTON" property="button" jdbcType="INTEGER"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <collection column="{ID=ID,ROLE_ID=ROLE_ID}" property="children" select="selectRoleMenuTreeChildren"/>
    </resultMap>


    <resultMap id="rolesMap" type="com.wisdom.auth.data.api.mapper.model.MenuInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="IMG_SRC" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <collection column="{ID=ID,USER_ID=USER_ID}" property="children" select="selectModuleByParentId"/>
    </resultMap>

    <resultMap id="moduleTree" type="com.wisdom.auth.data.api.mapper.model.MenuInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="IMG_SRC" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
        <result column="SYSTEM_ID" property="systemId" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <collection column="{ID=ID}" property="children" select="selectModuleTreeByParentId"/>
    </resultMap>

    <resultMap id="ModuleAndSystemMap" type="com.wisdom.auth.data.api.pojo.response.ModuleAndSystemResponse">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_NAME" property="moduleName" jdbcType="VARCHAR"/>
        <collection column="{ID=ID}" property="children"
                    select="selectModuleAndSystemByParentId"/>
    </resultMap>

    <select id="getMenusByUserId" resultMap="menuMap">
        SELECT DISTINCT bmr.*,bmr.MENU_NAME AS TITLE, bur.USER_ID as USER_ID,brm.BUTTON as BUTTON
        FROM USER_ROLE_REL bur
        LEFT JOIN ROLE_MENU_REL brm ON bur.ROLE_ID = brm.ROLE_ID
        LEFT JOIN MENU_INFO bmr ON brm.MENU_ID = bmr.ID
        LEFT JOIN SYSTEM_INFO bs ON bmr.SYSTEM_ID = bs.ID
        WHERE bur.USER_ID = #{userId} AND bmr.PARENT_ID =0 AND bs.ACTIVE =1 AND bmr.status=1
        <if test="userId == 1">
            AND SYSTEM_ID = 1
        </if>
    </select>

    <select id="roleMenuTree" resultMap="menuMapForTree">
   SELECT
    n.checked,n.ROLE_ID,n.expand,m.*,m.MENU_NAME AS TITLE
    from MENU_INFO m
    left join (select IF(bmr.IS_LEAF=1,'true','')checked,'true' as expand, brm.MENU_ID,brm.ROLE_ID FROM  ROLE_MENU_REL brm
              LEFT JOIN MENU_INFO bmr ON brm.MENU_ID = bmr.ID
			  where brm.ROLE_ID=#{ROLE_ID})n on n.MENU_ID=m.ID
	LEFT JOIN SYSTEM_INFO bs ON m.SYSTEM_ID = bs.ID
    WHERE  m.PARENT_ID =0
      AND bs.ACTIVE =1
      AND m.status=1
  </select>

    <select id="menuButton" resultMap="menuRightMap">
   SELECT a.*,a.id as 'key',a.RIGHT_NAME as label,true as 'disable' FROM MENU_RIGHT_INFO a where a.MENU_ID=#{MENU_ID};
  </select>


    <select id="selectRoleMenuTreeChildren" resultMap="menuMapForTree">
   SELECT
    n.checked,n.ROLE_ID,n.expand,m.*,m.MENU_NAME AS TITLE
    from MENU_INFO m
    left join (select IF(bmr.IS_LEAF=1,'true','')checked,'true' as expand,brm.MENU_ID,brm.ROLE_ID FROM  ROLE_MENU_REL brm
              LEFT JOIN MENU_INFO bmr ON brm.MENU_ID = bmr.ID
			  where brm.ROLE_ID=#{ROLE_ID})n on n.MENU_ID=m.ID
	LEFT JOIN SYSTEM_INFO bs ON m.SYSTEM_ID = bs.ID
    WHERE  m.PARENT_ID =#{ID}
      AND bs.ACTIVE =1
      AND m.status=1
  </select>

    <select id="selectMenusByParentIdWithOperating" resultMap="menuMap">
    SELECT DISTINCT bmr.*,bmr.MENU_NAME AS TITLE, bur.USER_ID as USER_ID,brm.BUTTON as BUTTON
     FROM USER_ROLE_REL bur
      LEFT JOIN ROLE_MENU_REL brm ON bur.ROLE_ID = brm.ROLE_ID
      LEFT JOIN MENU_INFO bmr ON brm.MENU_ID = bmr.ID
    WHERE bur.USER_ID = #{USER_ID}
    AND bmr.PARENT_ID = #{ID}
    AND bmr.status=1
  </select>


    <select id="selectModuleByRoleId" resultMap="rolesMap">
    SELECT bmr.*,bmr.MENU_NAME AS TITLE, bur.USER_ID as USER_ID, bs.PROJECT_NAME
     FROM ROLE_MENU_REL brm
    LEFT JOIN MENU_INFO bmr on brm.MENU_ID = bmr.ID
    LEFT JOIN SYSTEM_INFO bs ON  bmr.SYSTEM_ID = bs.ID
    LEFT JOIN USER_ROLE_REL bur ON bur.ROLE_ID = brm.ROLE_ID
    WHERE brm.ROLE_ID = #{ID} and bur.USER_ID = #{USER_ID}
    and bmr.PARENT_ID=0 and bs.ACTIVE = 1
    AND bmr.status=1
  </select>

    <select id="selectModuleByParentId" resultMap="rolesMap">
    SELECT DISTINCT bmr.*,bmr.MENU_NAME AS TITLE, bur.USER_ID as USER_ID, bs.PROJECT_NAME
     FROM USER_ROLE_REL bur
    LEFT JOIN ROLE_MENU_REL brm ON bur.ROLE_ID = brm.ROLE_ID
    LEFT JOIN MENU_INFO bmr ON brm.MENU_ID = bmr.ID
    LEFT JOIN SYSTEM_INFO bs ON  bmr.SYSTEM_ID = bs.ID
    WHERE bur.USER_ID = #{USER_ID} AND bmr.PARENT_ID = #{ID} AND bmr.status=1
  </select>

    <select id="selectModuleTree" resultMap="moduleTree">
        SELECT *,MENU_NAME AS TITLE FROM MENU_INFO
        <where>
            <if test="id == 0">
                PARENT_ID =0 AND SYSTEM_ID = #{systemId}
            </if>
            <if test="id >0">
                PARENT_ID = #{id}
            </if>
            AND status=1
        </where>
    </select>

    <select id="selectModuleTreeByParentId" resultMap="moduleTree">
    SELECT *,MENU_NAME AS TITLE FROM MENU_INFO
    WHERE PARENT_ID = #{ID} AND status=1
  </select>

    <select id="selectModuleAndSystemBySystemId" resultMap="ModuleAndSystemMap">
    SELECT ID, MENU_NAME,MENU_NAME AS TITLE FROM MENU_INFO
    WHERE SYSTEM_ID = #{ID} AND PARENT_ID =0 AND status=1
  </select>

    <select id="selectModuleAndSystemByParentId" resultMap="ModuleAndSystemMap">
    SELECT MENU_NAME AS TITLE,ID, MENU_NAME FROM MENU_INFO
    WHERE  PARENT_ID = #{ID} AND status=1
  </select>


    <select id="selectOperatingsByMenuId" resultMap="menuRightMap">
    SELECT DISTINCT bmr.*,bmr.RIGHT_NAME AS TITLE, bur.USER_ID as USER_ID
     FROM USER_ROLE_REL bur
      LEFT JOIN ROLE_MENU_REL brm ON bur.ROLE_ID = brm.ROLE_ID
      LEFT JOIN MENU_RIGHT_INFO bmr ON brm.MENU_ID = bmr.MENU_ID
    WHERE bur.USER_ID = #{USER_ID} AND bmr.MENU_ID = #{MENU_ID} AND (brm.BUTTON &amp; bmr.RIGHT_DESCRIBE)>0
  </select>


</mapper>