<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.auth.data.provider.mapper.mapper.SystemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.auth.data.api.mapper.model.SystemInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SYSTEM_NAME" property="systemName" jdbcType="VARCHAR" />
    <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ModuleAndSystemMap" type="com.wisdom.auth.data.api.pojo.response.ModuleAndSystemResponse" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SYSTEM_NAME" property="moduleName" jdbcType="VARCHAR" />
    <collection  column="{ID=ID}" property="subModules"
                 select="com.wisdom.auth.data.provider.mapper.mapper.MenuInfoMapper.selectModuleAndSystemBySystemId" />
  </resultMap>

  <select id="selectModuleAndSystem" resultMap="ModuleAndSystemMap">
    select ID, SYSTEM_NAME FROM SYSTEM_INFO
  </select>

</mapper>